body {
    font-family: Arial, sans-serif;
}

form {
    margin: 50px auto;
    width: 300px;
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
}
.dashboard-links {
  margin-top: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #0056b3;
}

